<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Circle of Fifth</title>
  <meta name="viewport" content="width=480" >
</head>
<body>
  <h1>Circle of Fifth</h1>
  <nav class="main">
    <div class="transpose">
      <a href="#" id="sharp">&#9839;</a>
      <a href="#" id="flat">&#9837;</a>
    </div>
    <div class="outer">
      <a href="#"><span>C</span></a>
      <a href="#"><span>G</span></a>
      <a href="#"><span>D</span></a>
      <a href="#"><span>A</span></a>
      <a href="#"><span>E</span></a>
      <a href="#"><span>B</span></a>
      <a href="#"><span>F&#9839;</span></a>
      <a href="#"><span>D&#9837;</span></a>
      <a href="#"><span>A&#9837;</span></a>
      <a href="#"><span>E&#9837;</span></a>
      <a href="#"><span>B&#9837;</span></a>
      <a href="#"><span>F</span></a>
    </div>
    <div class="inner">
      <a href="#"><span>a</span></a>
      <a href="#"><span>e</span></a>
      <a href="#"><span>b</span></a>
      <a href="#"><span>f&#9839;</span></a>
      <a href="#"><span>d&#9837;</span></a>
      <a href="#"><span>a&#9837;</span></a>
      <a href="#"><span>e&#9837;</span></a>
      <a href="#"><span>b&#9837;</span></a>
      <a href="#"><span>f</span></a>
      <a href="#"><span>c</span></a>
      <a href="#"><span>g</span></a>
      <a href="#"><span>d</span></a>
    </div>
  </nav>
</body>
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static/style.css">
<script type="text/javascript" src="static/js/setStyle.js"></script>
<script type="text/javascript" src="static/js/bufferLoader.js"></script>
<script type="text/javascript" src="static/js/playSound.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
</html>
